<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为ProductInfoMapperDao接口方法提供sql语句配置 -->
<mapper namespace="com.ssm.demo.dao.ProductInfoMapperDao">

    <!--添加一个产品-->
    <insert id="addAProductInfo" parameterType="ProductInfo">
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO
        product_info(product_id,product_name,product_describe,product_thumbnail,product_code)
        VALUES
        (#{productId},#{productName},#{productDescribe},#{productThumbnail},#{productCode});
    </insert>

    <!--添加一条产品详情-->
    <insert id="addAProductDetail" parameterType="ProductDetail">
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO
        product_details(product_id,file_title,file_url,file_txt)
        VALUES
        (#{productId},#{fileTitle},#{fileUrl},#{fileTxt});
    </insert>

    <!--通过产品code查询-->
    <select id="findProductsByCode" parameterType="String" resultType="ProductInfo">
        SELECT *
        FROM product_info
        WHERE product_code=#{productCode}
    </select>

    <!--通过产品ID查询产品详情-->
    <select id="findProDetailsById" parameterType="String" resultType="ProductDetail">
        SELECT *
        FROM product_details
        WHERE product_id=#{productId}
    </select>

</mapper>